button.add-object-user-role, button.publicACL, button.add-custom-fields, button.more, button.less {
    margin-top: 6px;
    margin-bottom: 6px;
}

div.btn-group.btn-group-xs > button {
    margin-left:4px;
    margin-right:4px;
}

th.blank {
    width: 15%;
}

.navbar-default {
    padding-left: 10px;
    padding-right: 10px;
}