button.more, button.less, button.for-specific-objects {
    margin-top: 10px;
    margin-bottom: 10px;
}

input.objectId, select {
    margin-top: 6px;
    margin-bottom: 6px;
}

th.blank {
    align-content: flex-start;
    width: 10%;
}

div.btn-group.btn-group-xs > button{
    margin-left: 6px;
    margin-right: 6px;
}