.create-user-form, .add-fields-form, .popover-login {
    display: none;
}

th.blank {
    width: 20%;
}

.current-user {
    color: lightgreen;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

div.modal-body {
    word-break: break-all;
}

button.add-custom-fields, button.more, button.less {
    margin-top: 10px;
    margin-bottom: 10px;
}

input.key, input.value, input.custom-fields-key, input.custom-fields-value {
    margin-top: 6px;
    margin-bottom: 6px;
}
