.create-user-form, .add-fields-form, .popover-login {
    display: none;
}

th.blank {
    width: 20%;
}

.current-user {
    color: lightgreen;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}