<div class="modal fade <%=modalClass%>">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <dl>
                    <% if (authData) { %>
                        <dt>Access token</dt>
                        <dd><%= authData.facebook.access_token %></dd>
                        <dt>Expiration Date</dt>
                        <dd><%= authData.facebook.expiration_date %></dd>
                        <dt>Facebook ID</dt>
                        <dd><%= authData.facebook.id %></dd>
                    <% } %>
                    <dt>User ID</dt>
                    <dd><%= user.id%></dd>

                    <dt>Created At</dt>
                    <dd><%= user.createdAt%></dd>

                    <dt>Updated At</dt>
                    <dd><%= user.updatedAt%></dd>

                    <dt>Email</dt>
                    <dd><%= user.attributes.email %></dd>

                    <dt>Username</dt>
                    <dd><%= user.attributes.username %></dd>

                    <% _.each(keys, function(key, index) {
                    if (keys[index] != 'authData' && keys[index] != 'email' && keys[index] != 'username') { %>
                        <dt><%= keys[index] %></dt>
                        <dd><%= values[index] %></dd>
                    <%  }
                    }); %>
                </dl>
            </div>
        </div>
    </div>
</div>