<td class="objectId"><%= user.objectId%></td>
<td class="username"><%= user.username %></td>
<td class="email"><%= user.email %></td>
<td class="createdAt"><%= user.createdAt%></td>
<td class="updatedAt"><%= user.updatedAt%></td>
<td class="blank">
    <div class="btn-group btn-group-xs" role="group">
        <button type="button" class="profile btn btn-info btn-xs"><i class="fa fa-user"></i></button>
        <button type="button" class="edit btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
        <button type="button" class="edit-roles btn btn-default btn-xs"><i class="fa fa-lock"></i></button>
        <button type="button" class="remove btn btn-danger btn-xs"><i class="fa fa-remove"></i></button>
    </div>
</td>