<div class="modal fade <%=modalClass%>">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit user</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                <% _.each(keys, function(key, index) { if ('authData' == key) { %>
                        <div><h5>Facebook Auth Data</h5></div>
                        <label>Access Token</label>
                        <input type="text" class="form-control accessToken" value="<%= values[index].facebook.access_token %>"disabled>
                        <label>Expiration Date</label>
                        <input type="text" class="expirationDate form-control" value="<%= values[index].facebook.expiration_date %>"disabled>
                        <label>Facebook Id</label>
                        <input type="text" class="form-control facebookId" value="<%= values[index].facebook.id %>"disabled>
                <%  } else { %>
                    <% if ("objectId"=== keys[index] || "createdAt"=== keys[index] || "updatedAt"=== keys[index]) { %>
                        <label><%= keys[index] %></label>
                        <input type="text" class="<%= keys[index] %> form-control" value="<%= values[index] %>" disabled/>
                    <% } else { %>
                        <label><%= keys[index] %></label>
                        <input type="text" class="<%= keys[index] %> form-control" value="<%= values[index] %>"/>
                    <% } %>
                <%  }}); %>

                    <button class="btn btn-warning form-control add-custom-fields"
                            type="button"
                            data-toggle="collapse"
                            data-target=".add-fields-form"
                            aria-expanded="false"
                            aria-controls="collapseAddFieldsForm">Add custom fields</button>
                    <div class="add-fields-form collapse">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="form-group">
                                    <input type="text" id="customFieldsKey" class="custom-fields-key form-control" placeholder="Key"/>
                                    <input type="text" id="customFieldsValue" class="custom-fields-value form-control" placeholder="Value"/>
                                </div>
                            </li>
                            <div class="btn-group btn-group-xs" role="group">
                                <button class="more btn btn-xs btn-primary" type="button"><i class="fa fa-plus"></i></button>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="submit btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>