<div class="modal fade <%=modalClass%>">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label>Role name</label>
                    <input class="form-control name" type="text" placeholder="name">

                    <button class="btn btn-warning form-control for-specific-objects"
                            type="button"
                            data-toggle="collapse"
                            data-target=".add-fields-form"
                            aria-expanded="false"
                            aria-controls="collapseAddFieldsForm">Choose rights for specific objects</button>
                    <div class="add-fields-form collapse">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="form-group">
                                    <input class="form-control objectId" type="text" placeholder="objectId">
                                    <select class="form-control">
                                        <option value="">Read Access</option>
                                        <option>Write Access</option>
                                        <option>Both</option>
                                    </select>
                                </div>
                            </li>
                            <div class="btn-group btn-group-xs" role="group">
                                <button class="more btn btn-xs btn-primary" type="button"><i class="fa fa-plus"></i></button>
                            </div>
                        </ul>
                    </div>

                    <div class="all-objects">
                        <label for="rights-all">Select rights for public</label>
                        <select id="rights-all" class="form-control">
                            <option>none</option>
                            <option>read</option>
                            <option>write</option>
                            <option>both</option>
                    </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="submit btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
