<div class="modal fade <%=modalClass%>">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit ACL</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-7">
                        <label>Enter objectId of role or user</label>
                        <input type="text" class="form-control role-user-objectId" placeholder="objectId of role or user">
                        <label>Select access write for it</label>
                        <select class="access form-control">
                            <option>Read Access</option>
                            <option>Write Access</option>
                            <option>Both</option>
                        </select>
                        <button type="button" class="btn btn-sm btn-primary add-object-user-role form-control">Add</button>

                        <table class="table users-roles table-responsive table-condensed">
                            <thead>
                            <tr>
                                <th>Object ID</th>
                                <th>Username/Name</th>
                                <th>Access</th>
                                <th class="blank"></th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="col-md-5">
                        <label>Select access write for public</label>
                        <select class="publicACL form-control">
                            <option>None</option>
                            <option>Read Access</option>
                            <option>Write Access</option>
                            <option>Both</option>
                        </select>
                        <button type="button" class="publicACL btn btn-primary form-control">Set</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>