<td class="objectId"><%= object.objectId%></td>
<td class="objectId"><%= object.createdAt%></td>
<td class="objectId"><%= object.updatedAt%></td>
<td class="blank">
    <div class="button-group">
        <button type="button" class="profile btn btn-info btn-xs"><i class="fa fa-user"></i></button>
        <button type="button" class="edit btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
        <button type="button" class="edit-acl btn btn-default btn-xs"><i class="fa fa-bell"></i></button>
        <button type="button" class="remove btn btn-danger btn-xs"><i class="fa fa-remove"></i></button>
    </div>
</td>