<div class="modal fade <%=modalClass%>">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                <% _.each(keys, function(key, index) {  %>
                <% if ("ACL" !== key) {  %>
                    <label for="<%= keys[index] %>"><%= keys[index] %></label>
                    <input type="text" id="<%= keys[index] %>" class="<%= keys[index] %> form-control" value="<%= values[index] %>"/>
                <%  }
                }); %>

                    <button class="btn btn-warning form-control add-custom-fields"
                            type="button"
                            data-toggle="collapse"
                            data-target=".add-fields-form"
                            aria-expanded="false"
                            aria-controls="collapseAddFieldsForm">Add custom fields</button>
                    <div class="add-fields-form collapse">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="form-group">
                                    <input type="text" id="customFieldsKey" class="custom-fields-key form-control" placeholder="Key"/>
                                    <input type="text" id="customFieldsValue" class="custom-fields-value form-control" placeholder="Value"/>
                                </div>
                            </li>
                            <div class="btn-group btn-group-xs" role="group">
                                <button class="more btn btn-xs btn-primary" type="button"><i class="fa fa-plus"></i></button>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="submit btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>